.footer {
  @include section-padding;
  background: var(--body-footer);
  display: flex;
  flex-direction: column;

  @include desktops {
    align-items: center;
    justify-content: center;
  }

  a {
    color: #fff;
  }

  &__logo {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-family: "Shrikhand", cursive;

    @include desktops {
      margin-bottom: 20px;
    }
  }

  &__links ul li {
    list-style: none;

    @include desktops {
      display: inline-block;
      margin: 0 20px;
    }

    .icon-utensils-solid {
      font-size: 1rem;
      margin-right: .78rem;
    }
    .icon-hands-helping-solid {
      font-size: 0.8rem;
      margin-right: .5rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__links ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
