.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 70px;
  background-color: var(--body-white);
  padding: 0 40px;
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);

  &__arrow {
    font-size: 1.5rem;
  }

  &__logo {
    margin: 0 23%;

    @include tablets {
      margin: 0 35%;
    }

    @include desktops {
      margin: 0 40%;
    }

    @include large-desktops {
      margin: 0 22%;
    }

    a {
      color: var(--body-font);
      animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
    }
  }
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
