.local {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--body-local);
    padding: 15px;
    font-size: .8rem;

    &__icon {
        margin-right: 15px;
        font-size: 1rem;
    }

    &__city {
        font-weight: 700;
    }
}