*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: var(--body-font);
}

body {
    background: var(--body-background);
    color: var(--body-font);
}