.featured-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;

  @include large-desktops {
    height: 50vh;
  }
}

.menu-container {
  background: var(--body-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  @include section-padding;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -4rem;
  border-radius: 20px 20px 0 0;
  background: var(--body-background);
  width: 100%;
  max-width: 1280px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: "Shrikhand", cursive;
    font-size: 1.2rem;
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 50px;
      height: 4px;
      background: var(--tertiary);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    @include large-desktops {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    @include large-desktops {
      width: 32%;
    }
  }

  &__item {
    background-color: white;
    padding: 15px 0 15px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.05);

    &:hover {
      .menu__check {
        border-radius: 0 20px 20px 0;
        margin-right: 0rem;
        background: var(--tertiary);
        div {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h4 {
      @include text-overflow;
    }

    span {
      @include text-overflow;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
  }

  &__price {
    font-weight: bold;
    margin: 0 20px 0 15px;
  }

  &__check {
    transition: all 0.5s ease-in-out;
    margin: -1rem 0 -1rem 0;
    padding: 22px 20px;
    margin-right: -4rem;
    background: var(--tertiary);
    div {
      transition: all 0.5s ease-in-out;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    color: #fff;
    font-size: 1.5rem;
  }

  &__button {
    text-align: center;
    padding: 25px;
  }
}

// For animation
.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(-20px);
    opacity: 1;
  }
}

// Trigger
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// FADE IN UP
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

// Optional delays, change values
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.three {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.four {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
